@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Gaps */
  --gap-tiny: 0.5em;
  --gap-regular: 1em;
  --gap-big: 2em;

  /* Colors */
  --color-primary: #ff5733;
  --color-primary-lighter: #FF6C4D;
  --color-dark: #33262a;
  --color-dark-lighter: #80777a;
  --color-cream: #f2ede7;
  --color-light: #ffffff;

  /* Gradients */
  --gradient: linear-gradient(
    90deg,
    rgba(199, 0, 57, 1) 0%,
    rgba(255, 87, 51, 1) 50%,
    rgba(255, 195, 0, 1) 100%
  );
  --gradient-hover: linear-gradient(
    90deg,
    rgba(199, 0, 57, 1) 20%,
    rgba(255, 87, 51, 1) 50%,
    rgba(255, 195, 0, 1) 80%
  );

  /* Shadows */
  --shadow-tiny: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  /* Fonts */
  --font-logo: "Kaushan Script", "Poppins", sans-serif;
  --font-regular: "Poppins", sans-serif;
}

::placeholder {
  color: var(--color-dark-lighter);
}

html {
  font-family: var(--font-regular);
}

body {
  background-color: var(--color-cream);
}

button:hover {
  cursor: pointer;
}

.to-do-list {
  display: grid;
  grid-template-rows: 1fr max-content;
  min-height: 100vh;
}

.to-do-list h1 {
  text-align: center;
  padding: var(--gap-tiny);
  color: var(--color-dark);
  font-family: var(--font-logo);
  font-size: 3em;
}

.task-list ul {
  padding: 0;
}

.task-list ul li {
  display: grid;
  grid-template: repeat(2, max-content) / 1fr repeat(3, 20px);
  line-height: 1;
  gap: var(--gap-tiny);
  padding: var(--gap-regular);
  margin: var(--gap-tiny) var(--gap-regular);
  border-radius: var(--gap-regular);
  box-shadow: var(--shadow-tiny);
  background-color: var(--color-light);
}

.task-list ul li h3 {
  grid-row: 1;
  color: var(--color-dark);
}

.task-list ul li p {
  grid-row: 2;
  color: var(--color-dark-lighter);
}

.task-list ul li img:hover {
  cursor: pointer;
}

.new-task {
  display: flex;
  flex-direction: column;
  gap: var(--gap-tiny);
  padding: var(--gap-regular);
  background-color: var(--color-light);
}

.new-task h2 {
  text-align: center;
  color: var(--color-dark);
}

.new-task input {
  height: 40px;
  border: none;
  border-radius: 40px;
  padding-left: var(--gap-regular);
  background-color: var(--color-cream);
}

.new-task input:focus {
  outline-color: var(--color-primary);
}

.new-task button {
  height: 40px;
  border: none;
  border-radius: 40px;
  padding: var(--gap-tiny);
  background: var(--gradient);
  color: var(--color-light);
  font-weight: 700;
}

.new-task button:hover {
  background: var(--gradient-hover);
}

.tag {
  align-self: center;
  display: flex;
  align-items: center;
  gap: var(--gap-tiny);
  color: var(--color-dark);
  font-size: 14px;
}

.tag a {
  text-decoration: none;
  color: var(--color-primary);
}

.tag a:hover {
  text-decoration: underline;
}

.tag img {
  width: 22px;
  height: 22px;
}