@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Colors */
  --primary: #ff5733;
  --dark: #33262a;
  --dark-lighter: #80777a;
  --light: #f2ede7;
  --white: #ffffff;

  /* Gradients */
  --gradient: linear-gradient(
    90deg,
    rgba(199, 0, 57, 1) 0%,
    rgba(255, 87, 51, 1) 50%,
    rgba(255, 195, 0, 1) 100%
  );
  --gradient-hover: linear-gradient(
    90deg,
    rgba(199, 0, 57, 1) 20%,
    rgba(255, 87, 51, 1) 50%,
    rgba(255, 195, 0, 1) 80%
  );

  /* Shadows */
  --shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  /* Fonts */
  --h1: 32px;
  --h2: 20px;
  --h3: 16px;
  --p: 14px;
  --tag-p: 12px;

  /* Sizing */
  --tiny: 6px;
  --regular: 12px;
  --img: 18px;
  --tag-img: 20px;
  --big: 40px;
  --line-height: 1;
}

html {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  color: var(--dark);
}

h1 {
  font-family: "Kaushan Script", sans-serif;
  text-align: center;
  font-size: var(--h1);
  padding: var(--tiny);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

p, ::placeholder {
  line-height: var(--line-height);
  font-size: var(--p);
  color: var(--dark-lighter);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}

button:hover, .task-list img:hover {
  cursor: pointer;
}

body {
  background-color: var(--light);
}

.to-do-list {
  display: grid;
  grid-template-rows: 1fr max-content;
  min-height: 100vh;
}

.task-list ul {
  padding: 0;
  margin: var(--regular);
  display: flex;
  flex-direction: column;
  gap: var(--tiny);
  flex-wrap: wrap;
}

.task-list li {
  display: grid;
  grid-template: repeat(2, max-content) / 1fr repeat(3, var(--img));
  line-height: var(--line-height);
  gap: var(--tiny);
  padding: var(--regular);
  border-radius: var(--regular);
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.task-list h3 {
  grid-row: 1;
}

.task-list p {
  grid-row: 2;
  grid-column: 1 / 5;
}

.new-task {
  background-color: var(--white);
}

.new-task .container {
  display: grid;
  gap: var(--tiny);
  padding: var(--regular);
}

.new-task h2 {
  text-align: center;
  color: var(--dark);
}

.new-task input {
  border: none;
  border-radius: 100px;
  padding-left: var(--regular);
  background-color: var(--light);
  color: var(--dark);
  height: var(--big);
}

.new-task input:focus {
  outline-color: var(--primary);
}

.new-task button {
  height: var(--big);
  border: none;
  border-radius: var(--big);
  font-weight: 700;
  padding: var(--tiny);
  background: var(--gradient);
  color: var(--white);
}

.new-task button:hover {
  background: var(--gradient-hover);
}

.tag {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  font-size: var(--tag-p);
  gap: var(--tiny);
  color: var(--dark);
}

.tag img {
  width: var(--tag-img);
  height: var(--tag-img);
}

@media (min-width: 480px) {
  :root {
    --h1: 48px;
    --h2: 24px;
    --h3: 18px;
    --p: 16px;
    --tag-p: 14px;
    --img: 20px;
    --tag-img: 22px;
    --tiny: 8px;
    --regular: 16px;
    --line-height: 1.3;
  }
}

@media (min-width: 768px) {
  .task-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .task-list li {
    flex: 1 1 320px;
  }

  .new-task {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
  }

  .new-task h2, .tag {
    grid-column: span 2;
  }

  .new-task .title {
    grid-row: 2;
  }

  .new-task .details {
    grid-row: 2;
  }

  .new-task button {
    grid-row: 3;
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .task-list ul, .new-task .container {
    width: 1024px;
    padding: var(--regular);
    margin: auto;
  }
}