@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Gaps */
  --gap-big: 2em;
  --gap-regular: 1em;
  --gap-tiny: 0.5em;

  /* Colors */
  --color-primary: #ffb05b;
  --color-dark: #33262a;
  --color-dark-lighter: #80777a;
  --color-cream: #f2ede7;
  --color-light: #ffffff;

  /* Gradients */
  --gradient: linear-gradient(
    90deg,
    rgba(255, 176, 91, 1) 0%,
    rgba(114, 237, 118, 1) 25%,
    rgba(53, 240, 197, 1) 50%,
    rgba(137, 220, 255, 1) 75%,
    rgba(203, 152, 255, 1) 100%
  );

  --gradient-hover: linear-gradient(
    90deg,
    rgba(255, 176, 91, 1) 20%,
    rgba(114, 237, 118, 1) 35%,
    rgba(53, 240, 197, 1) 50%,
    rgba(137, 220, 255, 1) 65%,
    rgba(203, 152, 255, 1) 80%
  );

  /* Shadows */
  --shadow-tiny: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  /* Fonts */
  --font-regular: "Poppins", sans-serif;
  --font-logo: "Kaushan Script", "Poppins", sans-serif;
}

html {
  font-family: var(--font-regular);
}

body {
  background-color: var(--color-cream);
}

.to-do-list {
  display: grid;
  grid-template-rows: 1fr max-content;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: var(--gap-tiny);
  color: var(--color-dark);
  font-family: var(--font-logo);
  font-size: 3em;
}

button:hover {
  cursor: pointer;
}

.task-list ul {
  padding: 0;
}

.task-list ul li {
  display: grid;
  grid-template: repeat(2, max-content) / 1fr repeat(3, 20px);
  line-height: 1;
  gap: var(--gap-tiny);
  padding: var(--gap-regular);
  margin: var(--gap-tiny) var(--gap-regular);
  border-radius: var(--gap-regular);
  box-shadow: var(--shadow-tiny);
  background-color: var(--color-light);
}

.task-list ul li h3 {
  grid-row: 1;
  grid-column: 1;
  color: var(--color-dark);
}

.task-list ul li p {
  grid-row: 2;
  grid-column: 1;
  color: var(--color-dark-lighter);
}

.task-list ul li img:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-tiny);
  padding: var(--gap-regular);
  background-color: var(--color-light);
}

form h2 {
  text-align: center;
  color: var(--color-dark);
}

form input {
  height: 40px;
  border: none;
  border-radius: 40px;
  padding-left: var(--gap-regular);
  background-color: var(--color-cream);
}

form button {
  height: 40px;
  border: none;
  border-radius: 40px;
  padding: var(--gap-tiny);
  background: var(--gradient);
  color: var(--color-light);
  font-weight: 700;
}

form input:focus {
  outline-color: var(--color-primary);
}

::placeholder {
  color: var(--color-dark-lighter);
}

form button:hover {
  background: var(--gradient-hover);
}
